:root {
    --primary-green: #4CAF50;
    --primary-red: #ff4444;
    --primary-orange: #FF9800;
    --bg-light: #f5f5f5;
    --bg-white: #ffffff;
    --text-dark: #333;
    --text-light: #666;
    --border-color: #ddd;
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-light);
    color: var(--text-dark);
    line-height: 1.6;
    height: 640px;
}

main {
    height: 640px;
    width: 100%;
    background: url("/assets/images/plan-69159a65c5684763515973.jpg") no-repeat;
    display: grid;
    grid-template-columns: 410px 175px 240px 240px;
    grid-template-rows: 205px 190px 205px;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.conference {
    grid-area: 1/1/2/2;
    background-color: rgba(255,68,68,0.4);
}

.reception {
    grid-area: 2/1/4/2;
    background-color: rgba(255,68,68,0.4);
}

.server {
    grid-area: 1/3/2/4;
    background-color: rgba(255,68,68,0.4);
}

.security {
    grid-area: 1/4/2/5;
    background-color: rgba(255,68,68,0.4);
}

.staff {
    grid-area: 3/4/4/5;
    background-color: rgba(255,68,68,0.4);
}

.archives {
    grid-area: 3/3/4/4;
    background-color: rgba(255,68,68,0.4);
}

.container {
    display: flex;
    padding: 10px;
    gap: 10px;
}

aside {
    display: flex;
    height: 640px;
    width: 350px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-light);
    box-shadow: var(--shadow);
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    overflow-y: scroll;
}

#addEmployeeBtn {
    padding: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-green);
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
}

#addEmployeeBtn:hover {
    background-color: var(--text-light);
    transform: scale(1.15);
}

.zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px 0;
}

.employeeZone {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    gap : 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.add-zone-btn {
    width: 50px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-green);
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
}

.add-zone-btn:hover {
    background-color: var(--text-light);
    transform: scale(1.5);
}

.modal-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.modal-overlay.hidden {
    display: none;
    opacity: 0;
}

.modalContainer {
    background-color: var(--bg-white);
    padding: 20px;
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
    border-radius: 10px;
    overflow: scroll;
    height: 600px;
    width: 500px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-dark);
    padding-bottom: 10px;
}

.displayNone {
    display: none;
}

.closeBtn {
    padding: 2px;
    height: fit-content;
    background: none;
    border: none;
    font-size: 35px;
    color: var(--text-light);
    cursor: pointer;
}

.closeBtn:hover {
    color: var(--primary-red);
    transform: scale(1.05);
}

.form-group {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--text-light);
    margin: 6px 0;
    align-items: start;
    width: 100%;
}

.form-group>.photo-preview {
    align-self: center;
    margin-top: 10px;
}

.form-group>input,
.form-group>select {
    width: 100%;
    height: 30px;
    background-color: var(--bg-white);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding-left: 10px;
}

.experience-block {
    background-color: var(--bg-light);
    padding: 10px;
    border: 1px solid var(--border-color);
    margin: 10px 0;
    border-radius: 10px;
}

.error-message {
    color: var(--primary-red);
}

.addExperienceBtn,
.cancelEmployeeBtn,
.addEmployeeBtn {
    height: fit-content;
    width: 120px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-green);
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
}

.cancelEmployeeBtn:hover,
.addEmployeeBtn:hover,
.addExperienceBtn:hover {
    background-color: var(--text-light);
    transform: scale(1.5);
}

.employeeDisition {
    display: flex;
    justify-content: space-around;
}

.remove-experience-btn {
    background-color: var(--primary-red);
    color: white;
    border: var(--border-color);
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
}

.selection-list {
    display: flex;
    margin: 25px 0;
    border-bottom: 1px solid var(--border-color);
    justify-content: start;
    gap: 40px;
    align-items: center;
    padding: 10px;
}

.selection-list>div {
    display: flex;
    flex-direction: column;
}

.selectionName {
    font-weight: bold;
}

.selectionEmployee-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 10px;
}

.employee-card {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.employee-card-onzone:hover,
.employee-card:hover {
    transform: scale(1.05);
}

.employee-card-onzone {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    width: 150px;
    height: fit-content;
    font-size: small;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: var(--shadow);
    cursor: pointer;
}

@media (max-width: 768px) {

    body {
        display: flex;
        height: 760px;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .container {
        transform: rotate(90deg);
    }

    main {
        background-size: 557.5px 320px;
        grid-template-columns: 205px 87.5px 120px 120px;
        grid-template-rows: 102.5px 95px 102.5px;
        height: 320px;
        bottom: 0;
        gap: 5px;
        padding: 5px;
    }

    .add-zone-btn {
        width: 25px;
        font-size: 10px;
        padding: 2, 5px;
    }

    aside {
        height: 320px;
        width: 175px;
    }

    .employee-card {
        width: 125px;
        padding: 5px;
        margin: 7.5px 0;
    }

    .employee-card-onzone {
        width: 75px;
        padding: 5px;
        margin: 7, 5px 0;
    }
}